[build-system]
requires = ["setuptools==67.7.2"]
build-backend = "setuptools.build_meta"

[project]
name = "pydgraph"
authors = [
  { name="Dgraph Labs", email="contact@dgraph.io" },
]
license = {file = "LICENSE" }
description = "Official Dgraph client implementation for Python"
readme = "README.md"
requires-python = ">=3.7"
classifiers=[
    'Intended Audience :: Developers',
    'License :: OSI Approved :: Apache Software License',
    'Operating System :: OS Independent',
    'Topic :: Database',
    'Topic :: Software Development',
    'Programming Language :: Python :: 3.11',
]
dependencies = [
    "grpcio>=1.54.3,<2.0.0",
    "protobuf>=4.22.3,<6.0.0"
]
dynamic = ["version"]

[tool.setuptools.dynamic]
version = {attr = "pydgraph.meta.VERSION"}

[project.optional-dependencies]
dev = [
  "build==1.2.1",
  "grpcio-tools==1.54.0",
  "pytest==8.3.1",
]

[project.urls]
"Homepage" = "https://github.com/dgraph-io/pydgraph"

