attrs==19.3.0
bcrypt==3.1.7
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
coverage==5.1
coveralls==2.0.0
cryptography==2.9.2
docker==4.2.0
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
grpcio==1.29.0
grpcio-tools==1.29.0
idna==2.9
jsonschema==3.2.0
paramiko==2.7.1
protobuf==3.12.2
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.16.0
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
texttable==1.6.2
urllib3==1.25.9
websocket-client==0.57.0
