name: cd-pydgraph
on:
  workflow_dispatch:
    inputs:
      releasetag:
        description: releasetag
        required: true
        type: string
permissions:
  contents: read
jobs:
  pydgraph-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: "${{ github.event.inputs.releasetag }}"
      - name: Setup pydgraph tooling
        uses: ./.github/actions/setup-runner
        with:
          python-version: "3.13"
      - name: Setup pydgraph virtualenv
        run: INSTALL_MISSING=true make setup
      - name: Verify generated protobufs are current
        run: |
          make protogen
          git diff --exit-code -- .
      - name: Build pydgraph
        run: |
          rm -rf dist
          # build binary wheel and a source tarball
          python -m build
      - name: Upload to PyPi
        run:
          twine upload --username ${{ secrets.DGRAPH_PYPI_USERNAME }} --password ${{
          secrets.DGRAPH_PYPI_PASSWORD }} dist/*
