name: cd-pydgraph
on:
  workflow_dispatch:
    inputs:
      releasetag:
        description: releasetag
        required: true
        type: string
permissions:
  contents: read
jobs:
  pydgraph-build:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          ref: "${{ github.event.inputs.releasetag }}"
      - name: Setup python runtime
        uses: ./.github/actions/setup-python-and-tooling
        with:
          python-version: "3.13"
      - name: Setup project dependencies
        run: INSTALL_MISSING_DEPS=true make setup
      - name: Sync python virtualenv
        run: make sync
      - name: Check generated protobufs are current
        run: |
          make protogen
          git diff --exit-code -- .
      - name: Check code quality
        run: make check
      - name: Run tests
        run: make test
      - name: Set version
        run: uv version ${{ github.event.inputs.releasetag }}
      - name: Build release
        run: make clean build
      - name: Publish release
        env:
          UV_PUBLISH_USERNAME: ${{ secrets.DGRAPH_PYPI_USERNAME }}
          UV_PUBLISH_PASSWORD: ${{ secrets.DGRAPH_PYPI_PASSWORD }}
        run: make publish
