name: ci-pydgraph-trunk
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read
  actions: write
  checks: write
jobs:
  trunk-code-quality:
    name: Trunk Code Quality Checks
    uses: dgraph-io/.github/.github/workflows/trunk.yml@main
